#alert-loading.alert
    span.alert-text(onclick="alertToggleFull()")
    span.alert-close(onclick="alertClose()") &times

#alert-success.alert
    span.alert-text(onclick="alertToggleFull()")
    span.alert-close(onclick="alertClose()") &times

#alert-error.alert
    span.alert-text(onclick="alertToggleFull()")
    span.alert-close(onclick="alertClose()") &times

style.
    .alert {
        position: fixed;
        width: calc(100% - 30px);
        max-width: calc(var(--site-width) - 20px);
        top: -40px;
        left: 0;
        right: 0;
        z-index: 20;
        transition: top 0.5s ease;
        margin: 0 auto;
        padding: 10px;
        color: white;
    }

    .alert-text {
        display: inline-block;
        width: calc(100% - 20px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .alert-close {
        float: right;
        font-size: 22px;
        font-weight: bold;
        line-height: 20px;
        cursor: pointer;
    }

    .alert-close::hover {
        color: black;
    }

    #alert-loading {
        background-color: gray;
    }

    #alert-success {
        background-color: green;
    }

    #alert-error {
        background-color: var(--nav-active-link-color);
    }
