mixin slideshow(aspect, interval)
    .slideshow-container(style="aspect-ratio: " + aspect)
        a.slideshow-prev(onclick="slideshow_plus(this.parentElement, true)") &#10094;
        a.slideshow-next(onclick="slideshow_plus(this.parentElement, false)") &#10095;
        .slideshow-image-container
            block
        script.
            slideshow_auto(document.currentScript.parentElement, #{interval});

mixin slideshow-image(src)
    img.slideshow-image(src=src)

style.
    .slideshow-container {
        position: relative;
        overflow: hidden;
    }

    .slideshow-image-container {
        position: absolute;
        width: max-content;
        height: 100%;
    }

    .slideshow-image-container-moving-right {
        transition: margin-left ease-out 0.4s;
        margin-left: -100%;
    }

    .slideshow-image-container-moving-left {
        transition: margin-left ease-out 0.4s;
    }

    .slideshow-image {
        float: left;
        height: 100%;
    }

    .slideshow-prev, .slideshow-next {
        display: block;
        cursor: pointer;
        position: absolute;
        z-index: 1;
        top: 50%;
        transition: background-color linear 0.2s;
        color: white;
        background-color: #00000050;
    }

    .slideshow-prev:hover, .slideshow-next:hover {
        background-color: #000000e0;
    }

    .slideshow-prev {
        left: 0;
    }

    .slideshow-next {
        right: 0;
    }

script.
    function slideshow_plus(slideshow, backwards) {
        const image_container = slideshow.querySelector(".slideshow-image-container");
        const images = slideshow.querySelectorAll(".slideshow-image");
        if (backwards) {
            images[images.length - 1].remove();
            image_container.prepend(images[images.length - 1]);
            image_container.style["margin-left"] = "-100%";
            image_container.clientHeight // Reading this property forces a DOM reflow
            image_container.classList.add("slideshow-image-container-moving-left");
            image_container.style.removeProperty("margin-left");
            setTimeout(() => image_container.classList.remove("slideshow-image-container-moving-left"), 500);
        } else {
            image_container.classList.add("slideshow-image-container-moving-right");
            setTimeout(() => {
                images[0].remove();
                image_container.append(images[0]);
                image_container.classList.remove("slideshow-image-container-moving-right");
            }, 500);
        }
    }

    function slideshow_auto(slideshow, interval) {
        if (!interval)
            return;
        setInterval(() => slideshow_plus(slideshow, false), interval);
    }
