#login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

    margin: auto;
    max-width: 90%;
    width: 400px;

    padding: 30px;

    background-color: var(--color-bg-light);

    & .input-row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        width: 100%;

        & input {
            width: 100%;
        }
    }
}
