#start-container {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 800px) {
    #start-container {
        flex-direction: row;
        gap: 10px;
    }

    #start-review-container {
        width: 33%;
        flex-shrink: 0;
    }
}

#start h1 {
    color: var(--color-text);
}

#start-reviews {
    display: grid;

    & .speechbubble {
        grid-column: 1;
        grid-row: 1;
        opacity: 0;
        transition: opacity .5s;
    }

    & .start-review-visible {
        opacity: 1;
        z-index: 1;
    }
}
