.edit-button {
    text-decoration: none;
    color: var(--color-text);
    font-weight: 700;
    transition: color .3s ease-out;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}

.edit-button:hover {
    background: none;
    color: var(--color-fg);
}

.edit-title {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

.edit-content {
    height: 400px;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    display: block;
    resize: vertical;
    border: 1px solid var(--color-input-border);
    background-color: var(--color-bg);
    color: var(--color-text);
    padding: 5px;
    overflow: hidden;
}

.workshop-image {
    position: relative;
    width: calc(100% - 32% - 80px);
}

.workshop-content {
    width: calc(100% - 32% - 80px);
}

.workshop-right {
    float: right;
    width: 32%;
}

.workshop-right-item {
    background-color: var(--color-bg-light);
    padding: 10px;
    margin: 0;
}

.workshop-properties {
    & a {
        color: inherit;
        text-decoration: underline;
    }

    & dd {
        margin: 0;
    }

    & dt {
        font-weight: bold;
    }
}

@media screen and (max-width: 800px) {
    .workshop-image {
        width: 100%;
    }

    .workshop-content {
        width: 100%;
    }

    .workshop-right {
        float: none;
        width: 100%;
    }
}

.workshop-edit-field {
    width: 100%;
}

code {
    display: block;
    background-color: var(--color-code-bg);
}

.workshop-options {
    border-top: solid var(--color-bg-light) 2px;
    margin-top: 5px;
    padding-top: 5px;
}

.newsletter-sent {
    color: red;
}

.workshop-color-edit-field > * {
    margin-right: 5px;
}

.workshop-attachment-dropdown {
    width: 100%;
    max-width: 700px;
}

.workshop-preview-field {
    display: block;
}

.workshop-edit-field {
    display: none;
}

.container.is-editing .workshop-preview-field {
    display: none;
}

.container.is-editing .workshop-edit-field {
    display: block;
}
