extends /layout.pug

block routeContent
    link(rel="stylesheet" href="/public/css/uploads.css")
    h1 Uploads

    input(type="file" name="img" value="Bild auswählen" id="input-uploads-image" accept="image/*")
    input(type="button" value="Hochladen" onclick="upload()")

    #uploads-images-list
        for upload in uploads
            div(id="uploads-image-" + upload.name onclick="selectImage('" + upload.name + "')")
                img(src="/api/upload?name=" + upload.name loading="lazy")
                a(href="javascript:void(0)" onclick="deleteImage('" + upload.name + "')") LÖSCHEN
                p #{upload.name}
