extends /layout.pug

block routeContent
    include /includes/slideshow.pug
    +slideshow(2.4)
        +slideshow-image("https://improglycerin.de/wp-content/uploads/2020/06/improglycerin-frankfurt-improtheater-7-1536x640.jpg")
        +slideshow-image("https://improglycerin.de/wp-content/uploads/2019/11/improglycerin-frankfurt-improtheater-Slider19-01.jpg")
        +slideshow-image("https://improglycerin.de/wp-content/uploads/2019/11/improglycerin-frankfurt-improtheater-Slider19-02.jpg")
        +slideshow-image("https://improglycerin.de/wp-content/uploads/2019/11/improglycerin-frankfurt-improtheater-Slider19-03.jpg")
        +slideshow-image("https://improglycerin.de/wp-content/uploads/2019/11/improglycerin-frankfurt-improtheater-Slider19-04.jpg")
        +slideshow-image("https://improglycerin.de/wp-content/uploads/2019/11/improglycerin-frankfurt-improtheater-Slider19-05.jpg")
    | Improglycerin Startseite
