include ../includes/utils.pug

doctype html
html
    head
        title Improtheater Frankfurt Newsletter Bestätigungsmail
        meta(charset="UTF-8")
        style.
            body {
                background-color: white;
                font-family: Roboto;
            }

            #logo {
                float: left;
                width: 235px;
                margin-top: 20px;
                margin-bottom: 12px;
            }

            #banner {
                width: 600px;
            }

            #footer {
                text-align center;
                font-size: 14px;
                color: black;
                padding-top: 100px;
                padding-bottom: 20px;
            }

    body
        center(style="table-layout:fixed;")
            table(align="center" style="text-align: center;")
                tr
                    td(align="center" style="text-align: center;")
                        #message-container(style="text-align: left; width: 100%; max-width: 600px;")
                            img#logo(src="https://improtheater-frankfurt.de/public/img/Improtheater-Frankfurt-Logo.png" width="235")
                            img#banner(src="https://improtheater-frankfurt.de/public/img/banner-start.jpg" width="600")
                            h1(style="font-size: 40px; margin-top: 32px; color: #cb092a;") HURRA! WILLKOMMEN!
                            b Liebe/r #{name}
                            p.
                                vielen Dank für die Bestellung unseres Newsletters, in dem Du zukünftig über unsere Workshops, unsere Jams und unsere
                                Shows informiert wirst.
                                Bitte bestätige durch Klick auf diesen Link, dass Du unseren tollen Newsletter erhalten möchtest:
                                #[a(id="link-confirm" href=link style="color: #cb092a;") Newsletter-Anmeldung bestätigen]
                            p.
                                Erst bestätigen, dann erhältst Du ihn auch. Selbstverständlich kann er jederzeit bequem wieder abbestellt werden. Am
                                Ende eines jeden Newsletters befindet sich der Abmeldelink.
                            p.
                                Um sicher zu stellen, dass Deine E-Mail-Adresse nicht von einem Fremden bei uns eingetragen wurde, haben wir dieses
                                doppelte Bestätigungsverfahren (Double-Opt-In) eingerichtet.
                                Wurde Deine E-Mail-Adresse nicht von Dir eingegeben, ignoriere diese Mail.
                            b.
                                So, und jetzt ab die Post!
                            p(style="white-space: pre-wrap;").
                                Herzliche Grüße
                                Dein Team von Improglycerin
                tr
                    td#footer(align="center")
                        a(href="https://improtheater-frankfurt.de/impressum" style="text-decoration: none; color: black;") Impressum
                        = " | "
                        a(href="https://improglycerin.de/datenschutz" style="text-decoration: none; color: black;") Datenschutz
                        = " | "
                        a(href="https://improglycerin.de/kontakt/" style="text-decoration: none; color: black;") Kontakt
                        if subscribedTo == 1 || subscribedTo == 2
                            = " | "
                            a(href=subscribe style="text-decoration: none; color: black;") #[+newsletterName(~subscribedTo)] abonnieren
