doctype html
html
    head
        meta(charset="utf-8")
        title Improtheater Frankfurt
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/index.css")
        link(rel="icon" sizes="58x58" href="/public/img/favicon.jpg")
    body
        p #{status} - #{message}
        a(href="/start") Zur Startseite
