if partial
    block routeContent
else
    doctype html
    html(lang="de")
        head
            meta(charset="utf-8")
            title Improtheater Frankfurt
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            meta(name="description" content="Improtheater Frankfurt, die Improschule von Improglycerin, bietet jeden Mittwoch und einmal monatlich Workshops zu verschienen Themen an. Anfänger oder Fortgeschrittene, alle sind willkommen.")
            link(rel="icon" sizes="58x58" href="/public/img/favicon.jpg")
            link(rel="apple-touch-icon" sizes="58x58" href="/public/img/favicon.jpg")
            link(rel="stylesheet" href="/lib/nprogress.css")
            link(rel="stylesheet" href="/resource/index.css")
            script(src="/lib/nprogress.js")
            if loggedIn
                script(src="/lib/marked.umd.js")
            script(src="/resource/index.js")
            script(defer src="https://analytics.improglycerin.de/script.js" data-website-id="6f4a8746-754f-4efa-95cb-bd83e26a68f7" data-domains="improtheater-frankfurt.de")
            if loggedIn
                script.
                    window.addEventListener("load", _ => {
                        umami.identify({ loggedIn: true, });
                    });
            block head

        body
            script(type="application/ld+json").
                {
                    "@context": "https://schema.org",
                    "@type": "WebSite",
                    "name": "Improtheater Frankfurt",
                    "url": "https://improtheater-frankfurt.de"
                }

            #message-success.message
                span.message-text
                span.message-close &times;

            #message-error.message
                span.message-text
                span.message-close &times;

            #message-confirm.message
                span.message-text
                span.message-close &times;
                button.message-confirm-yes Ja
                button.message-confirm-no Nein

            nav
                #menu
                    a(href="/start" class="navlink")
                        div#logo
                    #main-menu
                        a.navlink(href="/start") START
                        a.navlink(href="/newsletter") NEWSLETTER
                        a.navlink(href="/workshops") WORKSHOPS
                        a.navlink(href="https://improglycerin.de" target="_blank") IMPROGLYCERIN
                        if loggedIn
                            .dropdown
                                a(href="javascript:void(0)")
                                    | ADMINISTRATION
                                    i.arrow-down
                                div
                                    a.navlink(href="/uploads") BILDER
                                    a.navlink(href="/subscribers") ABONNENTEN
                                    a.navlink(href="/user") ACCOUNTEINSTELLUNGEN
                    a.icon#menu-toggle-button(href="javascript:void(0);")
                        .icon-nav-bars
                        .icon-nav-bars
                        .icon-nav-bars

            #wrapper
                .container(id=route)
                    block routeContent

            footer
                p Copyright 2025 – IMPROGLYCERIN Improvisationstheater aus Frankfurt am Main e.V.
                #footer-link-container
                    a(href="/datenschutz") DATENSCHUTZ
                    | &nbsp;|&nbsp;
                    a(href="/impressum") IMPRESSUM
                    | &nbsp;|&nbsp;
                    if loggedIn
                        a#logout-button(href="javascript:void(0)" class="forceReload") LOGOUT
                    else
                        a(href="/login") GLYCILOGIN
