<nav>
    <div id="menu">
        <a href="/start" class="navlink">
            <img id="logo" src="/public/img/logo.jpg">
        </a>
        <div id="main-menu">
            <a href="/start" class="navlink">START</a>
            <a href="/newsletter" class="navlink">NEWSLETTER</a>
            <a href="/workshops" class="navlink">WORKSHOPS</a>
            <a href="https://improglycerin.de" class="navlink">IMPROGLYCERIN <i class="fa fa-external-link"></i></a>
            ${loggedIn ? '<a href="/admin" class="navlink">ADMIN</a>' : ''}
            ${loggedIn ? '<a href="/uploads" class="navlink">UPLOADS</a>' : ''}
        </div>
        <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">&#9776;</a>
    </div>
</nav>