<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Improtheater Frankfurt</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" sizes="58x58" href="/public/img/favicon.jpg">
        <link rel="apple-touch-icon" sizes="58x58" href="/public/img/favicon.jpg">
        <link rel="stylesheet" href="/lib/nprogress.css">
        <link rel="stylesheet" href="/public/css/template.css">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="/lib/axios.min.js"></script>
        <script src="/lib/nprogress.js"></script>
        <script src="/public/js/navigator.js"></script>
    </head>

    <body>
        ${nav}

        <div id="wrapper">
            <div id="${route}" class="container">
                ${routeContent}
            </div>
        </div>

        ${footer}
    </body>
</html>