if partial
    block routeContent
else
    doctype html
    html(lang="de")
        head
            title Improtheater Frankfurt
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            meta(name="description" content="Improtheater Frankfurt, die Improschule von Improglycerin, bietet jeden Mittwoch und einmal monatlich Workshops zu verschienen Themen an. Anfänger oder Fortgeschrittene, alle sind willkommen.")
            link(rel="icon" sizes="58x58" href="/public/img/favicon.jpg")
            link(rel="apple-touch-icon" sizes="58x58" href="/public/img/favicon.jpg")
            link(rel="stylesheet" href="/lib/nprogress.css")
            link(rel="stylesheet" href="/public/css/template.css")
            link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet")
            script(src="/lib/axios.min.js")
            script(src="/lib/nprogress.js")
            if loggedIn
                script(src="/lib/marked.min.js")
            script(src="/public/js/navigator.js")

        body
            include includes/alerts.pug
            nav
                #menu
                    a(href="/start" class="navlink")
                        div#logo
                    #main-menu
                        a.navlink(href="/start") START
                        a.navlink(href="/newsletter") NEWSLETTER
                        a.navlink(href="/workshops") WORKSHOPS
                        a.navlink(href="https://improglycerin.de" target="_blank") IMPROGLYCERIN
                        if loggedIn
                            .dropdown
                                a(href="javascript:void(0)")
                                    | ADMINISTRATION
                                    i.arrow-down
                                div
                                    a.navlink(href="/uploads") UPLOADS
                                    a.navlink(href="/subscribers") ABONNENTEN
                    a(href="javascript:void(0);" class="icon" onclick="toggleMenu()")
                        .icon-nav-bars
                        .icon-nav-bars
                        .icon-nav-bars

            #wrapper
                .container(id=route)
                    block routeContent

            footer
                p Copyright 2021 – IMPROGLYCERIN Improvisationstheater aus Frankfurt am Main e.V.
                #footer-link-container
                    a(href="https://improglycerin.de/datenschutz") DATENSCHUTZ
                    | &nbsp;|&nbsp;
                    a(href="/impressum") IMPRESSUM
                    | &nbsp;|&nbsp;
                    if loggedIn
                        a(href="javascript:void(0)" onclick="logout()" class="forceReload") LOGOUT
                    else
                        a(href="/api/login" class="forceReload") GLYCILOGIN
