<!DOCTYPE html>
<html>
    <head>
        <script>
            var route = "${route}";
        </script>
        <title>Improtheater Frankfurt</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/lib/nprogress.css">
        <link rel="stylesheet" href="/public/css/template.css">
        <script src="/lib/axios.min.js"></script>
        <script src="/lib/nprogress.js"></script>
        <script src="/public/js/navigator.js"></script>
    </head>

    <body>
        ${nav}

        <div id="wrapper"></div>

        ${footer}
    </body>
</html>