#subscribers {
    table {
        border: none;
        width: 100%;
    }

    th, td {
        text-align: left;
        border: none;
    }

    .subscribers-delete {
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    tbody tr:nth-child(odd) {
        background-color: var(--color-bg-light);
    }

    table, tbody, tfoot, td, tr, th {
        display: block;
        width: 100%;
    }

    table tr {
        margin: 5px 0;
    }

    table td {
        margin: 0 10px;
        list-style: none;
        display: list-item;
        padding-left: 0;
    }

    table thead {
        display: none;
    }
}

.icon-delete {
    cursor: pointer;
}

.icon-delete::after {
    display: inline-block;
    content: "\00d7";
}
