@mixin light-theme {
    --color-bg: white;
    --color-bg-light: #f6f6f6;
    --color-fg: #cf0d2b;
    --color-text: black;
    --color-text-light: #101010;
    --color-border: #ebeaea;
    --color-input: #f0f0f0;
    --color-input-hover: #e9e9ed;
    --color-code-bg: #c7c7c7;
    --color-nav-button: #54393b;
    --site-width: 1100px;
    --logo: url("/public/img/improtheater_frankfurt_logo.svg");
}

@mixin dark-theme {
    --color-bg: #181a1b;
    --color-bg-light: #080a0b;
    --color-text: white;
    --color-text-light: #909090;
    --color-border: #282a2b;
    --color-input: #787878;
    --color-input-hover: #696981;
    --color-code-bg: #636363;
    --color-nav-button: #e8e6e3;
    --logo: url("/public/img/improtheater_frankfurt_logo_dark.svg");
}

[data-theme="light"] {
    @include light-theme;
}

[data-theme="dark"] {
    @include dark-theme;
}

:root {
    --menu-height: 80px;
    --menu-scrolled-height: 65px;
    --menu-top-padding: 8px;

    --margin-side: 10px;

    @include light-theme;
}

@media (prefers-color-scheme: dark) {
    :root {
        @include dark-theme;
    }
}

