#uploads-images-list {
    width: 100%;
    overflow: auto;
    display: grid;
    column-gap: 15px;

    /* https://stackoverflow.com/a/61240964 */
    grid-template-columns: repeat(2, minmax(0, 1fr));

    margin-top: 20px;

    .uploads-image {
        height: 500px;
    }

    img {
        height: auto;
        width: 100%;
        cursor: pointer;
        aspect-ratio: 16/9;
        object-fit: cover;
    }

    .image-footer {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        p {
            background-color: var(--color-bg);
            margin: 0;

            /* https://stackoverflow.com/a/66689926 */
            min-width: 0;

            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        a {
            background-color: var(--color-bg);
        }
    }
}

@media only screen and (max-width: 800px) {
    #uploads-images-list {
        grid-template-columns: minmax(0, 1fr);
    }
}
