@use "../../node_modules/@fontsource/roboto/scss/mixins" as Roboto;

@use 'hygienekonzept';
@use 'layout';
@use 'login';
@use 'newsletter';
@use 'start';
@use 'subscribers';
@use 'uploads';
@use 'workshop';
@use 'workshops';

@include Roboto.fontFace(
    $weight: 400,
    $fontDir: "/roboto"
);

@include Roboto.fontFace(
    $weight: 700,
    $fontDir: "/roboto"
);
