:root {
    --color-bg: white;
    --color-bg-light: #f6f6f6;
    --color-fg: #cf0d2b;
    --color-text: black;
    --color-text-light: #101010;
    --color-border: #ebeaea;
    --color-input: #f0f0f0;
    --color-input-hover: #e9e9ed;
    --color-code-bg: #c7c7c7;
    --color-nav-button: #54393b;
    --site-width: 1100px;

    --menu-height: 80px;
    --menu-scrolled-height: 65px;
    --menu-top-padding: 8px;
}

.itf {
    --logo: url(/public/img/Improtheater-Frankfurt-Logo.png);
}

.improglycerin {
    --logo: url(/public/img/Improglycerin-Logo.svg);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #181a1b;
        --color-bg-light: #080a0b;
        --color-text: white;
        --color-text-light: #909090;
        --color-border: #282a2b;
        --color-input: #787878;
        --color-input-hover: #696981;
        --color-code-bg: #636363;
        --color-nav-button: #e8e6e3;
    }

    .itf {
        --logo: url(/public/img/Improtheater-Frankfurt-Logo-dark.png);
    }

    .improglycerin {
        --logo: url(/public/img/Improglycerin-Logo.svg);
    }
}

html {
    background-color: var(--color-bg);
    overflow-x: hidden;
    overflow-y: scroll;
    color: var(--color-text);
}

body {
    font-family: Roboto;
}

.icon-nav-bars {
    width: 25px;
    height: 2px;
    background-color: var(--color-nav-button);
    margin: 4px 0;
    border: 1px solid var(--color-nav-button);
    border-radius: 5px;
}

nav {
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    height: var(--menu-height);
    z-index: 10;
    transition: height .3s ease-out;
    margin-bottom: 5px;
    background-color: var(--color-bg);
}

.nav-sticky {
    height: var(--menu-scrolled-height);
    box-shadow: #00000020 0 1px 3px;
}

nav #menu {
    margin: 0 auto;
    height: 100%;
    max-width: var(--site-width);
}

nav #logo {
    float: left;
    height: calc(100% - 2 * var(--menu-top-padding));
    width: 240px;
    max-height: 80px;
    transform: translateZ(0);
    background-image: var(--logo);
    background-size: contain;
    background-repeat: no-repeat;
    margin: var(--menu-top-padding) 0;
}

nav #main-menu {
    float: right;
    display: block;
    text-align: right;
}

nav .icon {
    display: none;
}

nav #main-menu a {
    display: inline-block;
    text-align: center;
    color: var(--color-text);
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    transition: color .3s ease-out;
    transition: padding .3s ease-out;
}

/* bad solution for vertically centering the links. Maybe flexbox is better */
nav #main-menu > a {
    padding: 31px 7.5px;
}

.nav-sticky #main-menu > a, nav #main-menu > div a {
    padding: 24px 7.5px;
}

nav #main-menu a:hover {
    color: var(--color-fg);
}

nav #main-menu .active {
    color: var(--color-fg);
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown > div {
    display: none;
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: var(--color-bg);
    box-shadow: 0px 8px 16px 0px #00000020;
    text-align: right;
}

.dropdown > div > a {
    padding: 10px 7.5px;
}

.arrow-down {
    border: solid var(--color-text);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 0px 0px 3px 5px;
    transform: rotate(45deg);
}

@media screen and (max-width: 750px) {
    nav #main-menu {
        float: none;
        display: none;
        background-color: var(--color-bg);
        padding-top: var(--menu-height);
    }

    .nav-sticky #main-menu {
        padding-top: var(--menu-scrolled-height);
    }

    .nav-sticky #logo {
        height: var(--menu-scrolled-height);
    }

    nav #menu #main-menu a {
        display: block;
        padding: 10px 7.5px;
        text-align: left;
    }

    nav .icon {
        display: block;
        text-decoration: none;
        padding: 30px 20px;
        position: fixed;
        top: 0;
        right: 0;
        color: var(--color-text);
        font-weight: bold;
    }

    .nav-sticky .icon {
        padding: 20px 20px;
    }

    .dropdown {
        display: block;
    }

    .dropdown div {
        position: relative;
        width: 100%;
    }
}

#wrapper {
    position: relative;
    width: 100%;
    margin-top: calc(var(--menu-height) + var(--menu-top-padding));
}

#wrapper .container {
    max-width: var(--site-width);
    margin: 0 auto;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}

h1 {
    font-size: 24px;
    color: var(--color-fg);
}

h2 {
    font-size: 22px;
    color: var(--color-text);
    font-weight: bold;
}

a {
    color: var(--color-fg);
    text-decoration: none;
}

.banner {
    width: 100%;
}

footer {
    text-align: center;
    position: relative;
    font-size: 14px;
    margin-top: 60px;
    padding-top: 30px;
    border-top: 2px solid var(--color-fg);
    margin-bottom: 10px;
}

#footer-link-container {
    font-weight: bold;
}

footer a {
    text-decoration: none;
    color: var(--color-text);
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.linebreak {
    white-space: pre-wrap;
}

input, button, select {
    background-color: var(--color-bg);
    color: var(--color-text);
    border: 1px solid #8f8f9d;
    border-radius: 2px;
}

input[type="text"]::placeholder, input[type="email"]::placeholder {
    color: var(--color-text-light);
}

input[type="submit"], button {
    background-color: var(--color-input);
    cursor: pointer;
}

input[type="submit"]:hover, button:hover {
    background-color: var(--color-input-hover);
}

select {
    display: block;
    background-color: var(--color-input);
}
