@media screen and (min-width: 870px) {
    #newsletter-text-container {
        width: 75%;
    }
}

@media screen and (min-width: 700px) {
    #newsletter-form > div {
        flex-direction: row !important;
    }

    #newsletter-form-input-checkbox-container {
        margin-left: 20px;
    }
}

#newsletter-form {
    margin-top: 35px;
}

#newsletter-form > div {
    display: flex;
    flex-direction: column;
}

#newsletter-form .input-newsletter-text {
    border: none;
    border-bottom: 2px solid black;
    max-width: 350px;
    width: 100%;
    font-size: 20px;
    margin-bottom: 12px;
    padding-bottom: 3px;
    background-color: white;
}

#newsletter-form .input-newsletter-text:focus {
    border-bottom-color: var(--color-fg);
    transition: border .4s;
}

#newsletter-form .input-newsletter-text::placeholder {
    color: #101010;
}

#newsletter-form .input-newsletter-button {
    color: white;
    background-color: var(--color-fg);
    border: none;
    padding: 13px 29px;
    margin-top: 12px;
    font-weight: bold;
}

#newsletter-form .input-newsletter-button:hover {
    background-color: #552726;
}
