#newsletter {
    margin-top: 10px;
}

#newsletter label {
    vertical-align: middle;
}

#newsletter-form label {
    font-weight: bold;
    margin-left: 5px;
}

#newsletter-form input[type="checkbox"] {
    vertical-align: middle;
}

#newsletter-form-text-container {
    margin-top: 20px;
}

#newsletter-form .input-newsletter-text {
    border: none;
    border-bottom: 2px solid var(--color-text);
    max-width: 350px;
    width: 100%;
    font-size: 20px;
    margin-bottom: 12px;
    padding-bottom: 3px;
}

#newsletter-form .input-newsletter-text:focus {
    border-bottom-color: var(--color-fg);
    transition: border .4s;
}

#newsletter-form .input-newsletter-button {
    color: white;
    background-color: var(--color-fg);
    border: none;
    padding: 13px 29px;
    margin-top: 12px;
    font-weight: bold;
}

#newsletter-form .input-newsletter-button:hover {
    background-color: #552726;
}

#newsletter-unsubscribe-token {
    display: none;
}
