#subscribers table {
    border: none;
    width: 100%;
}

#subscribers th, #subscribers td {
    text-align: left;
    border: none;
}

@media screen and (max-width: 750px) {
    tbody tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

    table, tbody, tfoot, td, tr, th {
        display: block;
        width: 100%;
    }

    table tr {
        margin: 5px 0;
    }

    table td {
        margin: 0 10px;
        list-style: none;
        display: list-item;
        padding-left: 0;
    }

    table thead {
        display: none;
    }
}

@media screen and (min-width: 750px) {
    #subscribers .subscribers-delete {
        text-align: center;
    }
}

.icon-delete {
    cursor: pointer;
}

.icon-delete::after {
    display: inline-block;
    content: "\00d7";
}
