:root {
    --nav-background-color: antiquewhite;
    --nav-active-link-color: red;
    --site-width: 1100px;
}

body {
    font-family: Roboto;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
}

nav #menu {
    margin: 0 auto;
    height: 60px;
    max-width: var(--site-width);
    background-color: var(--nav-background-color);
}

nav #menu img {
    float: left;
}

nav #menu #main-menu {
    float: right;
    display: block;
}

nav #menu #main-menu a {
    display: inline-block;
    text-align: center;
    padding: 20px 7.5px;
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    transition: color .3s ease-out;
}

nav #menu #main-menu a:hover {
    color: var(--nav-active-link-color);
}

nav #menu #main-menu .active {
    color: var(--nav-active-link-color);
}

#wrapper {
    position: relative;
    top: 60px;
    width: 100%;
}

#wrapper .container {
    max-width: var(--site-width);
    margin: 0 auto;
    font-size: 20px;
    font-weight: 400;
}

footer {
    text-align: center;
    position: relative;
    top: 60px;
    font-size: 14px;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
