#uploads-images-list {
    width: 100%;
    overflow: auto;
}

#uploads-images-list div {
    position: relative;
    float: left;
    margin: 10px;
    width: 47%;
}

@media only screen and (max-width: 1000px) {
    #uploads-images-list div {
        width: 100%;
    }
}

#uploads-images-list img {
    height: auto;
    width: 100%;
}

#uploads-images-list p {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: white;
    margin: 0;
}

#uploads-images-list a {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: white;
}
