.edit-button {
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: color .3s ease-out;
}

.edit-button:hover {
    color: red;
}

.edit-content {
    height: 400px;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
}

.workshop-image {
    position: relative;
}

.workshop-properties {
    background-color: #f6f6f6;
    padding: 10px;
    margin: 0;
}

.workshop-properties dd {
    margin: 0;
}

.workshop-properties dt {
    font-weight: bold;
}


@media screen and (min-width: 600px) {
    .workshop-image {
        width: calc(100% - 32% - 80px);
    }

    .workshop-properties {
        float: right;
        width: 32%;
    }

    .workshop-content {
        width: calc(100% - 32% - 80px);
    }
}


@media screen and (max-width: 600px) {
    .workshop-image {
        width: 100%;
    }

    .workshop-content {
        width: 100%;
    }
}

[contenteditable] {
    border: 1px solid #707070;
    padding: 5px;
}

textarea {
    display: block;
    resize: vertical;
    border: 1px solid #b2b2b2;
    padding: 5px;
}
