#workshop-list {
    width: 100%;
    overflow: auto;
}

.workshop-item {
    background-color: white;
    margin: 10px;
    float: left;
    border: 1px solid #ebeaea;
}

@media only screen and (min-width: 1000px) {
    .workshop-item {
        width: 47%;
    }
}

@media only screen and (max-width: 1000px) {
    .workshop-item {
        width: 100%;
    }
}

.workshop-item a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.workshop-item a:visited {
    color: black;
}

.workshops-image-container {
    position: relative;
    padding-top: 65%; /* Fixed aspect ratio */
    height: 0;
    overflow: hidden;
}

.workshops-image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.workshop-item img {
    height: auto;
    width: 100%;
}

.workshop-text {
    color: var(--nav-active-link-color);
    padding: 20px;
}

.workshop-text h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}

.workshop-text h4 {
    font-size: 12px;
    margin: 0;
    font-weight: 400;
    color: black;
}

.workshop-text span {
    float: right;
    color: #808080;
}

.workshops-outdated img {
    filter: grayscale(100%);
}