.edit-button {
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: color .3s ease-out;
}

.edit-button:hover {
    color: red;
}

.workshop-image {
    position: relative;
}

.workshop-properties {
    float: right;
    list-style: none;
    background-color: #f6f6f6;
    padding: 10px;
}

.workshop-properties dt {
    font-weight: bold;
}


@media screen and (min-width: 600px) {
    .workshop-image {
        width: calc(100% - 32% - 80px);
    }

    .workshop-properties {
        width: 32%;
    }
}


@media screen and (max-width: 600px) {
    .workshop-image {
        width: 100%;
    }

    .workshop-properties {
        width: 100%;
    }
}