.edit-button {
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: color .3s ease-out;
}

.edit-button:hover {
    color: red;
}

.edit-title {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

.edit-content {
    height: 400px;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
}

.workshop-image {
    position: relative;
}

.workshop-image {
    width: calc(100% - 32% - 80px);
}

.workshop-content {
    width: calc(100% - 32% - 80px);
}

.workshop-right {
    background-color: #f6f6f6;
    padding: 10px;
    margin: 0;
    float: right;
    width: 32%;
}

.workshop-properties dd {
    margin: 0;
}

.workshop-properties dt {
    font-weight: bold;
}

@media screen and (max-width: 750px) {
    .workshop-image {
        width: 100%;
    }

    .workshop-content {
        width: 100%;
    }

    .workshop-right {
        float: none;
        box-sizing: border-box;
        width: 100%;
    }
}

.workshop-input {
    width: calc(100% - 10px);
    border: 1px solid #b2b2b2;
    padding: 5px;
}

textarea {
    display: block;
    box-sizing: border-box;
    resize: vertical;
    border: 1px solid #b2b2b2;
    padding: 5px;
    overflow: hidden;
}

code {
    display: block;
    background-color: #c7c7c7;
}
