#workshops-add {
    font-size: 20px;
    margin-left: 10px;
}

#workshop-list {
    width: 100%;
}

.workshop-item {
    background-color: white;
    margin: 10px;
    float: left;
    border: 1px solid #ebeaea;
    width: 47%;
}

.workshop-item a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.workshop-item a:visited {
    color: black;
}

.workshops-image-container {
    position: relative;
    padding-top: 65%; /* Fixed aspect ratio */
    height: 0;
    overflow: hidden;
}

.workshops-image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.workshop-text {
    color: var(--color-fg);
    padding: 20px;
    height: 54px;
}

.workshop-text h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.workshop-text h4 {
    font-size: 12px;
    margin: 0;
    font-weight: 400;
    color: black;
}

.workshops-draft-text {
    position: absolute;
    top: 15%;
    left: 5%;
    font-size: 130px;
    color: #00000070;
    background: #00000000;
}

.workshops-outdated img {
    filter: grayscale(100%);
}

@media only screen and (max-width: 1000px) {
    .workshop-item {
        width: calc(100% - 20px);
    }

    .workshops-draft-text {
        font-size: 24vw;
    }
}

.workshops-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    float: right;
}

.workshops-navigation > * {
    margin-left: 10px;
}
