extends ../layout.pug

block routeContent
    h1 HYGIENEKONZEPT

    if loggedIn
        #hygienekonzept-src
            textarea(name="hygienekonzept") !{content}
        #hygienekonzept-preview
        a(href="javascript:void(0)" onclick="hygienekonzept_save()") Speichern
        = " | "
        a(href="javascript:void(0)" onclick="hygienekonzept_togglePreview()") Vorschau
    else
        != marked.parse(content)
