extends ../template.pug

block routeContent
    link(rel="stylesheet" href="/public/css/newsletter.css")
    img(src="/public/img/banner-newsletter.jpg" class="banner")

    #newsletter-text-container
        if unsubscribe && subscriber
            span#newsletter-unsubscribe-token #{subscriber.token}
            #newsletter-unsubscribe
                h1 Von welchem Newsletter möchtest du dich abmelden?
                form#newsletter-unsubscribe-form
                    if subscriber.subscribedTo & 1
                        input(type="checkbox" name="unsubscribe-itf" id="input-newsletter-0")
                        label(for="unsubscribe-itf") Improtheater Frankfurt Newsletter
                        br
                    if subscriber.subscribedTo & 2
                        input(type="checkbox" name="unsubscribe-improglycerin" id="input-newsletter-1")
                        label(for="unsubscribe-improglycerin") Improglycerin Newsletter
                        br
                    input(type="submit" value="Bestätigen")
            #newsletter-unsubscribe-success(style="display: none;")
                p Deine E-Mail Adresse #{subscriber.email} wurde erfolgreich vom Mailverteiler abgemeldet
            #newsletter-unsubscribe-failed(style="display: none;")
                p Du bist anscheinend schon vom Mailverteiler abgemeldet.
            #newsletter-unsubscribe-error(style="display: none;")
                p Beim Abmelden ist leider etwas schiefgelaufen.
        else if subscriber.confirmed
            p.
                Liebe/r #{subscriber.name},
            p.
                herzlich willkommen auf dem Mailverteiler von Improglycerin und Improtheater Frankfurt. Du wirst jetzt einmal
                wöchentlich zu unserem offenen Workshop eingeladen, der jeden Mittwochabend stattfindet und jedes Mal ein anderes Thema
                hat, sowie manchmal zu einem Workshop am Wochenende und ca. einmal im Monat zu einer Show von Improglycerin. Die Daten,
                Ort und Zeit kannst Du der jeweiligen Einladung entnehmen.
            p.
                Normalerweise finden die Workshops in Frankfurt, in der Großen Friedberger Straße 42, statt. Es gibt manchmal
                Verwechslungen mit der Friedberger Landstraße. Die Große Friedberger Straße geht allerdings direkt von der
                Konstablerwache ab. Da wir die Klingel in unserem Raum nicht hören, bitte pünktlich unten stehen, oder Du lässt Dir die
                Handynummer des Einladenden geben. Im Sommer sind wir manchmal im Koreanischen Garten (derzeit wegen Bauarbeiten bei der
                Georgioskirche). Gut, aber nicht zwingend ist, wenn Du Dein Kommen anmeldest.
            p.
                Herzliche Grüße
                Dein Team von Improglycerin
        else
            #newsletter-subscribe
                h1 NEWSLETTER

                p.
                    Improglycerin Newsletter bestellen und immer gut informiert sein!
                p.
                    Ja, ich möchte den Newsletter bestellen und erhalte einmal wöchentlich die Einladung für Mittwochabend und monatlich
                    die Einladung zur Samstagsjam sowie zur Show von Improglycerin. Der Newsletter kann jederzeit wieder abbestellt werden.

                form#newsletter-form
                    div
                        div#newsletter-form-input-text-container
                            input(type="email" class="input-newsletter-text" id="input-newsletter-email" placeholder="E-Mail-Adresse" required)
                            br
                            input(type="text" class="input-newsletter-text" id="input-newsletter-name" placeholder="Vorname und Nachname" required)
                            br
                        div#newsletter-form-input-checkbox-container
                            input(type="checkbox" name="subscribe-itf" id="input-newsletter-0")
                            label(for="subscribe-itf") Improtheater Frankfurt Newsletter
                            br
                            input(type="checkbox" name="subscribe-improglycerin" id="input-newsletter-1")
                            label(for="subscribe-improglycerin") Improglycerin Newsletter
                            br

                    input(type="submit" class="input-newsletter-button" value="ANMELDEN")
            #newsletter-subscribe-success(style="display: none;")
                h1 Vielen Dank für Deine Newsletter-Anmeldung

                p.
                    Du erhältst gleich eine E-Mail von uns. Bitte bestätige die Anmeldung durch einfaches Klicken des Bestätigungslinks in dieser E-Mail. Erst dann erhältst Du unseren Newsletter an Deine angegebene E-Mail-Adresse: #[span(id="text-email-address")]
            #newsletter-subscribe-failed(style="display: none;")
                h1 Die Newsletter-Anmeldung war nicht erfolgreich

                p.
                    Entweder bist du schon angemeldet oder du hast den Link in der Bestätigungsmail noch nicht angeklickt.
            #newsletter-subscribe-error(style="display: none;")
                h1 Die Newsletter-Anmeldung war nicht erfolgreich

                p.
                    Es ist ein unbekannter Fehler aufgetreten.
