extends ../layout.pug

block routeContent
    h1 PASSWORD RESET

    form#password-reset-form
        label(for="reset-password") Neues Passwort:
        input(type="password" name="reset-password")
        input(type="submit" value="Bestätigen")
