extends ../layout.pug

block routeContent
    include ../includes/speechbubble.pug
    img(src="/public/img/banner-start.jpg" class="banner")

    #start-container
        #start-text-container
            h1 Willkommen bei der Improschule von Improglycerin

            p.
                Ihr wart bei einer Impro-Show und wollt Euch mal selbst ausprobieren? Wir bieten ein vielseitiges und flexibles Lernangebot mit viel Spaß und Spielfreude.
            p.
                #[span.underline Vielseitig]: Eure Workshopleiter sind begeisterte Improspieler*innen mit 7 - 20 Jahren Erfahrung.
                Unser Konzept ist modulares Lernen.
                Mal konzentrieren wir uns auf Fähigkeiten wie Pantomime, Status oder Atmosphäre, mal auf Formate wie knackige Kurzformen oder erzählerische Langformen.
                Manchmal bieten wir Specials zu Themen wie Musikalischem Impro oder Anlässen wie Halloween.
            p.
                #[span.underline Flexibel]: Ihr könnt jeden Termin einzeln buchen und kommt, wie oft Ihr wollt.
                Wir veranstalten jeden Mittwoch einen #[a(href="/workshops") Workshop] in Frankfurt.
                Einmal im Monat bieten wir auch samstags Workshops an, sowie eine Jam für Fortgeschrittene.
            p.
                #[span.underline Für wen]: Die Workshops sind im Allgemeinen offen für erwachsene Spieler aller Erfahrungsstufen.
            p.
                #[strong Impro-Anfänger kommen bitte zuerst mindestens 1x zu den Impro Basics.]
                Hier lernt ihr jeden ersten Mittwoch im Monat die Grundregeln des Improtheaters.
                Nur manche Veranstaltungen kennzeichnen wir explizit für #[strong Fortgeschrittene#[sup 1]], die die Grundregeln schon gut eingeübt haben.
            p.
                Wenn ihr regelmäßig über unsere Workshops und Shows informiert werden möchtet, abonniert unseren #[a(href="/newsletter") Newsletter]
                oder kommt in unsere geschlossene #[a(href="https://www.facebook.com/groups/904414142934712/") Facebook-Gruppe].
            p.linebreak.
                Wir freuen uns auf Euch!
                Das Team von Improglycerin
            p
                em.
                    #[sup 1] Fortgeschrittene: Du hast bereits an einigen Impro-Workshops teilgenommen, bei uns oder woanders und hast Impro-Grundregeln wie "Ja genau und",
                    "Let your Partner shine" sowie "Zug um Zug" verinnerlicht.

        #start-review-container
            #start-reviews
                +speechbubble("Ulrike K.", "Sehr gut angeleitet, langsame Steigerungen der Übungen war gut, alle mitgenommen egal welchen Niveaus, macht total Lust auf mehr!")(class="start-review-visible")
                +speechbubble("Maya W.", "Es hat sehr viel Spaß gemacht und die Zeit verging wie im Flug! Das macht Lust auf mehr und ich freue mich schon auf das nächste Mal.")
                +speechbubble("Annette R.", "Es war fabelhaft - ich hätte nie gedacht, dass mir phantomimisches Impro-Theater so viel Spaß machen würde. Das \"Tanzen im Schwarm\" war ein besonderes Lebensgefühl. Vielen Dank!")
                +speechbubble("Kirsten H.", "Kurzweilig, gute Inputs, nette Kursleitung und Gruppe, ich fühlte mich direkt sehr gut aufgenommen und bin dankbar für die Rückmeldung, die mich bestimmt wieder ein kleines Bisschen weiterbringt.")
            a#start-journal(href="https://shop.journal-frankfurt.de/service_shop_einzel/FESTE-FEIERN-in-Frankfurt-Rhein-Main-1.html")
                img(src="/public/img/FFF25_Auszeichnung_340x340px.jpg")
