extends ../layout.pug

block routeContent
    include ../includes/speechbubble.pug
    img(src="/public/img/banner-start.jpg" class="banner")

    #start-container
        #start-text-container
            h1 Willkommen bei der Improschule von Improglycerin

            p.
                Ihr wart bei einer Impro-Show und wollt Euch mal ausprobieren? Wir veranstalten jeden Mittwoch einen #[a(href="/workshops") Workshop] in Frankfurt.
                Mal konzentrieren wir uns auf Kategorien wie Pantomime, Status oder Atmosphäre, mal erfreuen wir uns an Themenspecials wie Karneval, Halloween oder Weihnachten.
                Egal, ob Anfänger oder Profi, Ihr könnt jederzeit einsteigen. Ihr kommt, wie oft und wann Ihr wollt. Der erste Mittwoch im Monat ist sogar speziell für Newbies angelegt.
                Einmal im Monat bieten wir auch samstags etwas an.
            p.
                Wenn ihr regelmäßig über die Workshops sowie über unsere Shows informiert werden möchtet, abonniert unseren #[a(href="/newsletter") Newsletter] oder kommt in unsere geschlossene #[a(href="https://www.facebook.com/groups/904414142934712/") Facebook-Gruppe].
            p.linebreak.
                Wir freuen uns auf Euch!
                Das Team von Improglycerin

        #start-review-container
            #start-reviews
                +speechbubble("Therese G.", "Ein sehr schöner Abend voller Spielfreude pur!")(class="start-review-visible")
                +speechbubble("Carole S.", "Mir hat der Basic Workshop super gefallen, tolles Einstiegsformat für alle, die Impro mal selbst ausprobieren wollen. Man konnte direkt mitmachen, aber auch erstmal zuschauen, wenn man sich nicht sofort traut. Zudem gab es Erklärungen sowie Unterstützung vom Trainer, um reinzukommen und das Format zu verstehen. Danke für die tolle Stunde, ich komme gern wieder!")
                +speechbubble("Monika V.", "Abwechslungsreiche Übungen, die verdammt viel Spaß gemacht haben!!!")
                +speechbubble("Jonas W.", "Es war einfach großartig. Ich habe mich so lebendig und zeitlos glücklich gefühlt, wie selten. Es war mir eine besondere Freude, mit euch und der Gruppe zu improvisieren und zu lachen und ich bin schnellstmöglich wieder dabei. Hauke hat uns großartig zusammengebracht und durch den Abend geführt. Chapeau!")
                +speechbubble("Andra Z.", "All I need is love and Improglycerin! Es ist einfach großartig wie ihr mit so viel Einsatz jede Woche ein anderes Thema für uns vorbereitet - Abwechslung, Kreativität und Spaß sind immer garantiert! Ich bin so dankbar, dass es euch gibt!")
