<img src="/public/img/banner-start.jpg" class="banner">

<h2>Ihr wollt selbst spontan Theater spielen?</h2>

<p>Ihr wart bei einer Impro Show und wollt Euch mal ausprobieren? Die Frankfurter Improtheatergruppe Improglycerin veranstaltet jeden Mittwoch einen Impro Workshop in Frankfurt. Egal, ob Anfänger oder Profi, Ihr könnt jederzeit einsteigen. Ihr kommt, wie oft und wann Ihr wollt. Der erste Mittwoch im Monat ist sogar speziell für Newbies angelegt. Einmal im Monat bieten wir auch samstags was an.
Es gibt einfache Übungen und Spiele des Improvisationstheaters. Zieht ein Los, das Euch ein Filmgenre oder eine Figur zuteilt. Reagiert spontan auf zugerufene Anregungen in einer Szene. Mal konzentrieren wir uns auf Kategorien wie Pantomime, Status oder Atmosphäre, mal erfreuen wir uns an Themenspecials wie Karneval, Halloween oder Weihnachten.
Die Einladungen mit Zeit, Ort und Thema gibt es <a href="/workshops">hier</a>, in der <a href="https://www.facebook.com/groups/904414142934712/">geschlossenen Facebook-Gruppe „Improtheater Frankfurt“</a> oder über unseren <a href="/newsletter">Newsletter</a>.
Traut Euch! Es wird viel gelacht – wir freuen uns auf Euch!</p>