extends ../template.pug

block routeContent
    h1 Am Newsletter angemeldete Personen
    ol
        each s in subscribers
            li
                | Name: #{s.name}, Email: #{s.email}, Zuletzt geöffnet:
                |
                if (s.last_viewed_newsletter_name)
                    a(href='/workshop/' + s.last_viewed_newsletter)= s.last_viewed_newsletter_name
                else
                    | Kein newsletter
        else
            li Niemand ist am Newsletter angemeldet

        a.forceReload(href="/api/newsletter/export" style="display: block; margin-top: 20px;" download="ITF_export.csv") Liste exportieren
