extends ../template.pug

block routeContent
    link(rel="stylesheet" href="/public/css/workshops.css")
    h1 WORKSHOPS
        if loggedIn
            a(id="workshops-add" href="javascript:void(0)" onclick="createWorkshop()") HINZUFÜGEN
            .workshops-navigation
                if page > 0
                    a(href="/workshops/" + (page - 1)) Vorwärts
                a(href="/workshops/" + (page + 1)) Zurück

    #workshop-list.clearfix
        each workshop in workshops
            +workshop-item(workshop.id, workshop.title, workshop.img, workshop.visible, workshop.timeText, workshop.outdated)
        
    template#template-workshop-item
        +workshop-item(0, "", "", false, "", false)

mixin workshop-item(id, title, img, visible, timeText, outdated)
    .workshop-item(class=outdated ? "workshops-outdated" : "", id="workshop-item-" + id)
        a(href="/workshop/" + id)
            .workshops-image-container
                img(src=img || "/public/img/workshop-default.png")
                .workshops-draft-text
                    unless visible
                        | Entwurf
            .workshop-text
                h2 #{title}
                h4 #{timeText}
