<link rel="stylesheet" href="/public/css/workshops.css">
<h1>Workshops ${loggedIn ? '<a href="javascript:void(0)" onclick="createWorkshop()">+</a>' : ''}</h1>

<div id="workshop-list">
    ${workshops.map(workshop => `
        <div class="workshop-item">
            <a href="/workshop/${workshop.created}">
                <div class="workshops-image-container">
                    <img src="${workshop.img || '/public/img/workshop-default.png'}">
                </div>
                <div class="workshop-text">
                    <h2>${workshop.title} ${workshop.visible ? '' : '<span>Entwurf</span>'}</h2>
                    <h4>${workshop.timeText}</h4>
                </div>
            </a>
        </div>
    `).join("")}
</div>
