extends ../layout.pug

include ../includes/workshop-item.pug

block routeContent
    h1 WORKSHOPS
    if loggedIn
        a(id="workshops-add" href="javascript:void(0)" onclick="createWorkshop()") HINZUFÜGEN

    .workshops-navigation
        if page > 0
            a(href="/workshops/" + (page - 1)) Vorwärts
        a(href="/workshops/" + (page + 1)) Zurück

    .workshop-list
        each workshop in workshops
            +workshop-item(workshop)

    template#template-workshop-item
        +workshop-item(0, "", "", false, "", false, false)
